/* Base Styles */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #243342; /* Updated to a deep blue-gray for a modern look */
    color: #fff; /* White text for good contrast */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Global Box Sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Navbar */
nav {
    background-color: #243342; /* Same as body for a seamless look */
    color: #fff;
    padding: 12px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #3498db; /* Light blue for a subtle hover effect */
}

/* Welcome Section */
#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    background: #243342; /* Ensuring background consistency */
}

#welcome-section h1 {
    font-size: 4em; /* Larger font size for emphasis */
    font-weight: bold;
    margin: 0; /* Adjusted margin to handle spacing */
    line-height: 1.2; /* Improved line spacing for large text */
    white-space: nowrap; /* Ensures text stays on a single line */
}

#welcome-section h2 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 0.2em;
    opacity: 0.9;
}

/* Projects Section */
#projects {
    background-color: #243342; /* Consistency with the rest of the design */
    padding: 50px 20px;
    margin-top: -50px; /* Overlap with welcome section */
}

.project-tile {
    background-color: #34495e; /* Slightly lighter shade for differentiation */
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* About Section */
#about {
    background-color: #243342; /* Maintain uniform background color */
    padding: 60px 40px; /* Increase padding for more space */
    border-radius: 8px; /* Soften the corners */
    margin: 40px auto; /* Increase margin to center and give space from other elements */
    max-width: 80%; /* Adjust width for better text alignment */
    line-height: 1.8; /* Enhance line height for better readability */
    font-size: 1.2em; /* Optionally increase the font size */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

#about p {
    margin-bottom: 20px; /* Increase bottom margin for paragraph separation */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #welcome-section h1 {
        font-size: 2.5em; /* Adjust font size for smaller screens */
    }

    #welcome-section h2 {
        font-size: 1.5em;
    }
}
